*
!README.md
!.gitignore
!.gitconfig*
!./projects/.gitkeep
!./projects/sit/.gitkeep
!./projects/private/.gitkeep
!./projects/ottonova/.gitkeep
!.zprofile
!\./.config/htop/*
!\.config/neofetch/*
!\.config/starship.toml
!\.scripts/host-check
!\.scripts/init.sh
!\.scripts/incV
!\.vim
!\.SpaceVim.d
!.config/bash_aliases
!.config/git_aliases
!.config/docker_aliases

!.scripts/init.sh
