/*
!README.md
!.gitignore
!.gitconfig*
!./projects/.gitkeep
!./projects/private/.gitkeep
!./projects/sit/.gitkeep
!.zprofile
!\./.config/htop/*
!\.config/neofetch/*
!\.scripts/host-check
!\.scripts/incV
!\.vim
!\.SpaceVim.d
!.bash_aliases
!.git_aliases
