[user]
	email = patrick.pfenning.92@gmail.com
	name = Patrick Pfenning

[includeIf "gitdir:~/projects/sit/**"]
	path = .gitconfig.sit

[includeIf "gitdir:~/projects/ottonova/**"]
	path = .gitconfig.ottonova