*
!README.md
!.gitignore
!.gitconfig*
!./projects/.gitkeep
!./projects/private/.gitkeep
!./projects/sit/.gitkeep
!.zprofile
!dotfiles.code-workspace
!./.config/htop/htoprc
!./.config/neofetch/config.conf
!.scripts/